# Pakistan Drone Attacks

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
# Importing Datset
drone = pd.read_csv("Dataset\Drone_Attacks_Pakistan.csv")
drone

,S#,Date,Time,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,...,Injured Min,Injured Max,Women/Children,Special Mention (Site),Comments,References,Longitude,Latitude,Temperature(C),Temperature(F)
0,1.0,"Friday, June 18, 2004",22:00,Near Wana,south Waziristan,FATA,1.0,NaN,1.0,0.0,...,NaN,NaN,N,Blast occured in courtyard of the house of lon...,Village in Wana,http://archives.dawn.com/2004/06/19/top1.htm,69.900000,33.033300,28.475,83.255
1,2.0,"Sunday, May 08, 2005",23:30,Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,NaN,0.0,...,NaN,NaN,N,Drone struck a car driven by local warlord- ki...,Civilian killied was Samiullah Khan who was a ...,http://www.msnbc.msn.com/id/7847008/,70.145500,32.974600,11.475,52.655
2,3.0,"Thursday, December 01, 2005",NaN,Haisori- Miran Shah,North Waziristan,FATA,1.0,1.0,NaN,0.0,...,NaN,2.0,NaN,Explosive occurred at a mud house,No. 3 Al-Qaeda's Leader AbuHamza Rabia killed ...,http://edition.cnn.com/2005/WORLD/asiapcf/12/0...,70.145500,32.974600,7.080,44.744
3,4.0,"Friday, January 06, 2006",NaN,Saidgai village- 115km north of Wana,North Waziristan,FATA,1.0,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,http://www.reuters.com/article/2007/04/27/us-p...,70.145500,32.974600,0.535,32.963
4,5.0,"Friday, January 13, 2006",3:00,Damadola Village,Bajaur Agency,FATA,1.0,NaN,NaN,0.0,...,NaN,2.0,Y,Three houses were tarheted in Damadola village...,Masood Khan house was among those bombed. Want...,http://www.dailytimes.com.pk/default.asp?page=...,71.500000,34.683300,10.025,50.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,402.0,"Monday, June 12, 2017",21:00,Spin Thal,Hangu,KPK,1.0,NaN,NaN,0.0,...,0.0,0.0,N,Haqqani network leader Abubakar and his partne...,Thal city falls in Hangu district and lies clo...,https://www.dawn.com/news/1339293,33.358693,70.540720,NaN,NaN
401,403.0,"Monday, July 03, 2017",NaN,NaN,South Waziristan,FATA,2.0,NaN,NaN,0.0,...,0.0,0.0,N,a CIA-operated drone carried out a missile att...,NaN,https://www.dawn.com/news/1343100,32.120819,69.589987,23.000,74.000
402,404.0,"Friday, September 15, 2017",NaN,Ghuz Ghari,Kurram Agency,FATA,2.0,NaN,NaN,0.0,...,2.0,2.0,N,A US drone killed three suspected Afghan Talib...,NaN,https://www.dawn.com/news/1357853; https://www...,33.732174,70.150755,NaN,NaN
403,405.0,"Monday, October 16, 2017",NaN,Zero-point,Lower Kurram Agency,FATA,4.0,NaN,5.0,NaN,...,NaN,NaN,N,At least five suspected militants were killed ...,Conflict of Report: Foreign media reported tha...,http://www.thesundaily.my/news/2017/10/18/deat...,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,662.0,1304.0,...,402.0,1329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
drone.describe()

,S#,No of Strike,Al-Qaeda,Taliban,Civilians Min,Civilians Max,Foreigners Min,Foreigners Max,Total Died Min,Total Died Mix,Injured Min,Injured Max,Longitude,Latitude,Temperature(C),Temperature(F)
count,404.000000,404.000000,97.000000,141.000000,336.000000,359.000000,93.000000,140.000000,308.000000,402.000000,145.000000,276.000000,403.000000,403.000000,401.000000,401.000000
mean,202.514851,1.450495,1.010309,9.390071,7.761905,14.161560,1.462366,5.314286,12.616883,18.199005,5.544828,9.630435,68.809672,34.277947,16.019289,60.840207
std,116.794436,1.118322,5.114308,55.591723,71.105575,134.046817,7.128569,31.441641,110.477448,182.169279,33.389740,79.872724,6.890073,6.716537,8.646118,15.570087
min,1.000000,1.000000,0.000000,0.000000,-4.000000,-6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.896179,25.678480,-14.155000,6.521000
25%,101.750000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,5.000000,0.000000,2.000000,69.900000,32.974600,9.120000,48.416000
50%,202.500000,1.000000,0.000000,4.000000,3.000000,5.000000,0.000000,2.000000,5.000000,6.000000,2.000000,4.000000,70.145500,32.974600,17.895000,64.211000
75%,303.250000,1.000000,0.000000,7.000000,5.000000,8.500000,1.000000,4.000000,8.000000,10.750000,4.000000,6.000000,70.145500,33.033300,23.795000,74.831000
max,405.000000,8.000000,49.000000,662.000000,1304.000000,2542.000000,68.000000,372.000000,1943.000000,3658.000000,402.000000,1329.000000,71.500000,70.540720,29.485000,85.073000

In [13]:
# Dropping some columns

new_drone = drone.drop(["S#","Time","Longitude", "Latitude", "Temperature(C)", "Temperature(F)", "Special Mention (Site)", "Comments", "References"], axis=1)
new_drone

,Date,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,Civilians Max,Foreigners Min,Foreigners Max,Total Died Min,Total Died Mix,Injured Min,Injured Max,Women/Children
0,"Friday, June 18, 2004",Near Wana,south Waziristan,FATA,1.0,NaN,1.0,0.0,4.0,NaN,NaN,NaN,5.0,NaN,NaN,N
1,"Sunday, May 08, 2005",Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,NaN,0.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,N
2,"Thursday, December 01, 2005",Haisori- Miran Shah,North Waziristan,FATA,1.0,1.0,NaN,0.0,1.0,NaN,3.0,NaN,5.0,NaN,2.0,NaN
3,"Friday, January 06, 2006",Saidgai village- 115km north of Wana,North Waziristan,FATA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN
4,"Friday, January 13, 2006",Damadola Village,Bajaur Agency,FATA,1.0,NaN,NaN,0.0,18.0,NaN,NaN,NaN,18.0,NaN,2.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,"Monday, June 12, 2017",Spin Thal,Hangu,KPK,1.0,NaN,NaN,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,N
401,"Monday, July 03, 2017",NaN,South Waziristan,FATA,2.0,NaN,NaN,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,N
402,"Friday, September 15, 2017",Ghuz Ghari,Kurram Agency,FATA,2.0,NaN,NaN,0.0,0.0,0.0,0.0,3.0,3.0,2.0,2.0,N
403,"Monday, October 16, 2017",Zero-point,Lower Kurram Agency,FATA,4.0,NaN,5.0,NaN,NaN,0.0,0.0,17.0,26.0,NaN,NaN,N
404,NaN,NaN,NaN,NaN,NaN,49.0,662.0,1304.0,2542.0,68.0,372.0,1943.0,3658.0,402.0,1329.0,NaN

In [15]:
new_drone.mean()

No of Strike       1.450495
Al-Qaeda           1.010309
Taliban            9.390071
Civilians Min      7.761905
Civilians Max     14.161560
Foreigners Min     1.462366
Foreigners Max     5.314286
Total Died Min    12.616883
Total Died Mix    18.199005
Injured Min        5.544828
Injured Max        9.630435
dtype: float64

In [16]:
# Counting no. of strikes
new_drone.value_counts(["No of Strike"])

No of Strike
1.0             315
2.0              50
4.0              19
3.0              11
6.0               5
8.0               4
dtype: int64